@page "/ncm/adicionar"
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-primary mb-4">Adicionar NCM</h3>

<FormNCM Ncm="@ncm" ButtonText="Adicionar" OnValidSubmit="@AddNcm"></FormNCM>

@code {
    NCM ncm = new NCM();

    async Task AddNcm()
    {
        try
        {
            await http.PostAsJsonAsync("api/ncm", ncm);
        }
        catch (Exception ex)
        {

        }
        navigation.NavigateTo("/ncm");
    }
}