@page "/cst"
@inject ICstRepository cstRepository

@inject IJSRuntime JSRuntime

<h3 class="text-primary mb-4">Lista de CST</h3>

<div>
    <a href="/cst/adicionar" class="btn btn-outline-success mb-4">Adicionar</a>
</div>

<div>
    @if (cst == null)
    {
        <div class="alert alert-primary" role="alert">
            Carregando...
        </div> }
    else if (cst.Count == 0)
    {
        <div class="alert alert-danger" role="alert">
            Não existem dados cadastrados nessa tabela!
        </div> }
    else
    {
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cst)
                {
                    <tr>
                        <td>
                            @item.Codigo
                        </td>
                        <td>
                            @item.NomeResumido
                        </td>
                        <td>
                            <a href="/cst/editar/@item.Codigo" class="btn btn-warning">Editar</a>
                            <a href="/cst/detalhes/@item.Codigo" class="btn btn-info">Detalhes</a>
                            <button class="btn btn-danger" @onclick="@(() => ExcluirCST(item.Codigo))">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>}
</div>

@code {
    List<CST> cst;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        cst = await cstRepository.GetCST();
    }

    private async Task ExcluirCST(string id)
    {
        await cstRepository.DeleteCst(id);
        await LoadData();
    }

}